body {
  font: 100% Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

table {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #eee;
}

table td {
  text-align: center;
  font-size: 1.2rem;
}
